AEM_OUTPUT_PATH=./output
AEM_PACKAGE_NAME=content-migration
AEM_SITE_PATH=/content/mysite
AEM_TEMPLATE_PATH=/conf/mysite/settings/wcm/templates/content-page
AEM_DESIGN_PATH=

# Packaging
AEM_PACKAGE_ZIP=false
AEM_FILEVAULT_ENABLED=false
AEM_FILEVAULT_COMMAND=vault
AEM_FILEVAULT_VALIDATE=false

# HTML sanitization policy
AEM_HTML_POLICY=relaxed
# If using custom policy:
AEM_HTML_ALLOWED_TAGS=p,br,strong,em,ul,ol,li,a,blockquote,pre,code,h1,h2,h3
AEM_HTML_ALLOWED_ATTRS=a.href,a.title,a.target,a.rel
AEM_HTML_ALLOWED_PROTOCOLS=a.href:https|http|mailto

# AEM template governance
AEM_ALLOWED_TEMPLATES=
AEM_CLOUDSERVICE_CONFIGS=

# Tags
AEM_TAGS_ROOT=/content/cq:tags/mysite

# Asset ingestion
AEM_ASSET_DOWNLOAD=true
AEM_ASSET_API_ENABLED=false
AEM_ASSET_API_UPLOAD_URL=
AEM_ASSET_API_AUTH_TYPE=basic
AEM_ASSET_API_AUTH_USER=
AEM_ASSET_API_AUTH_PASSWORD=
AEM_ASSET_API_AUTH_TOKEN=

# Fragments
AEM_FRAGMENTS_ENABLED=false
AEM_FRAGMENT_MODEL=/conf/mysite/settings/dam/cfm/models/article
AEM_FRAGMENT_DAM_PATH=/content/dam/mysite/fragments
AEM_XF_PATH=/content/experience-fragments/mysite
AEM_XF_TEMPLATE=/conf/mysite/settings/wcm/templates/experience-fragment
AEM_EMBED_XF_ON_PAGE=false
